<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<connectionStrings>
		<add name="OptionsPlay" providerName="System.Data.SqlClient" connectionString="Server=tcp:p779f24i2r.database.windows.net,1433;Database=opfcdev;User ID=syrahuser@p779f24i2r;Password=P@ssw0rd007;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;MultipleActiveResultSets=True;" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
		<!--<add name="OptionsPlay" providerName="System.Data.SqlClient" connectionString="Server=tcp:l1hb58ew7f.database.windows.net,1433;Database=opfcdev;User ID=syrahuser@l1hb58ew7f;Password=P@ssw0rd007;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;MultipleActiveResultSets=True;" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>-->
	</connectionStrings>
	<system.web>
		<compilation xdt:Transform="RemoveAttributes(debug)" />
	</system.web>
	<SZKingdomConfiguration numberOfConcurrentConnections="10" xdt:Transform="SetAttributes(numberOfConcurrentConnections)"/>
</configuration>