<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="cacheConfiguration" type="OptionsPlay.Cache.Configuration.CacheConfigurationSection, OptionsPlay.Cache, Version=1.0.0.0, Culture=neutral" />
    <section name="marketDataConfiguration" type="OptionsPlay.MarketData.MarketDataConfiguration, OptionsPlay.MarketData" />
    <section name="schedulerConfiguration" type="OptionsPlay.Scheduler.SchedulerConfiguration, OptionsPlay.Scheduler" />
    <section name="StockPerMinuteConfiguration" type="OptionsPlay.Scheduler.StockPerMinuteConfiguration, OptionsPlay.Scheduler" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <!--<add name="OptionsPlay" providerName="System.Data.SqlClient" connectionString="Server=tcp:p779f24i2r.database.windows.net,1433;Database=opfcdev;User ID=syrahuser@p779f24i2r;Password=P@ssw0rd007;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;MultipleActiveResultSets=True;" />-->
    <!--<add name="OptionsPlayMongoDB" connectionString="mongodb://fcmarketdata:!FcMarketData!@fcmongodbn1.cloudapp.net:27017/fcmarketdata" />-->
    <add name="OptionsPlay" connectionString="Data Source=(local);Initial Catalog=opfc;Integrated Security=SSPI;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
    <add name="OptionsPlayMongoDB" connectionString="mongodb://fcmarketdata:!FcMarketData!@localhost:27017/fcmarketdata" />
    <!--<add name="OptionsPlayMongoDB" connectionString="mongodb://backup:!Backup!@localhost:27017/backup" />-->
  </connectionStrings>
  <appSettings>
    <add key="ApplicationType" value="ChinaFCScheduler" />
    <add key="FatalErrorsRecipients" value="Jason.Wang@srs2.cn"/>
    <!-- Scheduler -->
    <add key="Environment" value="local" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="OleDbConn" value="Provider=vfpoledb;Data Source=C:\FirstCapital;Collating Sequence=machine;TABLEVALIDATE=0"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <log4net configSource="Configurations\log4netDev.config" />
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework.MappingAPI" publicKeyToken="7ee2e825d201459e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.7" newVersion="6.0.0.7" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!--<marketDataConfiguration location="ftp://138.91.188.78/" source="FtpServer" ftpUsername="fc_ftp" ftpPassword="Co0peration" txtFileName="mktdt03.txt" dbfFileName="show2003.dbf" />-->
  <!--<marketDataConfiguration location="ftp://localhost/" source="FtpServer" ftpUsername="fc_ftp" ftpPassword="Co0peration" txtFileName="mktdt03.txt" dbfFileName="show2003.dbf" />-->
  <marketDataConfiguration locationTxt="D:\FirstCapital\HQ\" locationDbf="D:\FirstCapital\HQ\" source="LocalDrive" txtFileName="mktdt03.txt" dbfFileName="show2003.dbf" UncTxtFileName="D:\FirstCapital\HQ\mktdt03.txt" lineNum ="300"/>
  <schedulerConfiguration historicalQuotesPopCronExpression="0/5 * * 1/1 * ? *" realTimeQuotesPopCronExpression="0/1 * * 1/1 * ? *" stockOptionQuotesPopCronExpression="0 0/1 01-08 1/1 * ? *" ErasePerMinuteQuotesPopCronExpression="0 59 15 1/1 * ? *" latestStockQuotesToHistoricalQuotesPerDayPopCronExpression="0 00 14 1/1 * ? *" />
  <StockPerMinuteConfiguration value="510050,510180,600104,601318" />
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>